#optCD {
  display: none;
}

#optJA {
  display: none;
}

#optPD {
  display: none;
}

#workshop {
  display: none;
}

h1 {
font-family: 'Text Me One', sans-serif;
  font-size: 60px;
  text-align: center;
  display: stretch;
}

ul.header {
  display: inline;
  list-style: none;
}

li.topbar {
  display: inline;
  margin-left: -5px;
}

#mainpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.survey {
  margin: 50px;
  border: 2px solid #85dd3e;
  padding: 40px;
}

header {
  text-align: center;
}

body {
  font-family: 'Nanum Gothic', sans-serif;

}
#about {
  font-size: 20px;
}

#workshop {
  font-size: 25px;
}
footer {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

font-family: 'Numans', sans-serif;
font-family: 'Text Me One', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'PT Sans', sans-serif;
