#optCD {
  display: none;
}

#optJA {
  display: none;
}

#optPD {
  display: none;
}

#workshop {
  display: none;
}




font-family: 'Numans', sans-serif;
font-family: 'Text Me One', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'PT Sans', sans-serif;
